.form-grid {
    display: grid;
    grid-template-areas:
        'form-headers'
        'form-controls'
        'form-results';
    align-items: center;
    justify-items: center;
}
/* .background_img {
  background: url("/assets/img/main_background.png") no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  overflow:visible
} */
.item-a-form-headers {
    grid-area: form-headers;
    /* place-self: center; */
}

.item-b-form-controls {
    grid-area: form-controls;
    place-self: center;
}
.item-c-form-results {
    grid-area: form-results;
    place-self: center;
}
button:hover {
    background-color: green;
}

.newInput {
    background: url(../../../assets/img/area_logo.png) no-repeat;
    background-position: right;
    text-indent: 18px;
}

.form-check-label {
    direction: initial;
}
.red {
    background-color: red;
}
/* .btn btn-danger{
  display: inline;
} */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
