<form class="grid-form" [formGroup]="form_" (ngSubmit)="onSubmit()">
    <div class="locationInput">
        <mat-form-field>
            <input
                type="text"
                placeholder="Type a Country or a city here"
                aria-label="Location"
                matInput
                formControlName="location"
                [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                    *ngFor="let locationsObs of _locationService.locationsObs$ | async"
                    [value]="locationsObs"
                >
                    {{ locationsObs }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div class="filters">
        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        (click)="onClickAnimals()"
                        value=""
                        checked=""
                        formControlName="animal"
                    />
                    1# filter
                </label>
            </div>
        </fieldset>
    </div>
    <div class="submitButton">
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  
</form>
<div class="grid-2nd">
    <app-place-list-info
    *ngIf="_placeService.places$"
    [placeList$]="_placeService.places$"
    ></app-place-list-info>
</div>
