<div class="grid-top-toolbar">
    <div class="item-c-logo">
        <img src="/assets/img/tsimer_logo.png" alt="image"> </div>
    <div class="item-b-toolbar">
        <nav>
            <a *ngFor="let itemlist of toolbarlist">
            {{ itemlist }}
        
        </a>
        </nav>
    </div>
    <div class="item-a-searcher">
        <div class="img-toolbar">
            <img src="/assets/img/mag_glass.png" alt="image">
            <img src="/assets/img/globe.png" alt="image">
            <img src="/assets/img/human_toolbar.png" alt="image">
        </div>

    </div>
</div>