<div class="grid-top-toolbar">

    <div class="item-c-logo">
        <img src="/assets/img/tsimer_logo.png" alt="image">
    </div>


    <div class="item-b-toolbar" (mouseleave)="isMainListOut()">
        <div class="navbar" *ngFor="let itemlist of toolbarList">
            <div class="subnav" (mouseover)="getMainList(itemlist)">
                <button class="subnavbtn">{{ itemlist.name }} </button>
            </div>
        </div>
    </div>

    <div class="item-d-toolbar-info" (mouseenter)="isSubListIn()" (mouseleave)="isSubListOut()">
       <span class="displayers" *ngIf="mainListIn === true || subListIn === true ">
            <a class="sublist_contents" *ngFor="let single_option of itemListOptions.options"
                (click)="subListOnClick(itemListOptions, single_option)">
                {{single_option}}</a>
       </span>

    </div>

    <div class="item-a-searcher">
        <div class="img-toolbar">
            <img src="/assets/img/mag_glass.png" alt="image">
            <img src="/assets/img/globe.png" alt="image">
            <img src="/assets/img/human_toolbar.png" alt="image">
        </div>

    </div>
</div>