<!-- <div class="background">
  <div class="container-grid">
    <div class="item-a-top-toolbar">
      <app-top-toolbar></app-top-toolbar>
    </div>
    <div *ngIf="flag; else elseBlock">
      <div class="item-b-form-main">
        <app-form-main></app-form-main>
      </div>
    </div>
    <ng-template #elseBlock class="item-c-about">
      <router-outlet></router-outlet>
    </ng-template>
 <div>
      <app-place-list></app-place-list>
    </div> 
  </div>
</div> -->

<!-- <div class="background"> -->
  <div class="container-grid">
    <div class="item-a-top-toolbar">
      <app-top-toolbar></app-top-toolbar>
    </div>
  <div class="background_img">
      <div class="item-b-form-main">
        <router-outlet></router-outlet>
  </div>
    </div>
     <div class="item-c-place_by_area">
      <app-place-by-area></app-place-by-area>
    </div> 
   

    <!-- <div>
      <app-place-list></app-place-list>
    </div> -->
  </div>
<!-- </div> -->

