.container-grid {
  display: grid;
  /* grid-template-columns: auto;
    grid-template-rows      : auto;*/
  padding-right: 15%;
  padding-top: 1.6em;
  padding-left: 1em;
  /*  */
  /*  */
  /*  */
  grid-template-areas:
    "top-toolbar"
    "form-main"
    "place_by_area";
  /*background-image      : url("/assets/img/main_background.png");*/
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.item-a-top-toolbar {
  grid-area: top-toolbar;
}

.item-b-form-main {
  grid-area: form-main;
}
.item-c-place_by_area {
  grid-area: place_by_area;
}
/* 
.background {
  background-image: url("/assets/img/main_background.png")  ;
  background-repeat: no-repeat;
  width: 100%;
} */
.background_img {
  background: url("/assets/img/main_background.png") no-repeat center center
    fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  max-width: 100%;
  max-height: 100%;
}
