<div class="name">{{ place.name }}</div>
<div class="score_avg">{{ place.score_avg }}</div>
<div class="phone">{{ place.phone }}</div>
<div class="location">{{ place.city }} {{ place.country }}</div>
<div class="email">{{ place.email }}</div>
<!-- <div class="features">
    <div class="wifi">{{ place.wifi }}</div>
    <div class="swimming_pool">{{ place.swimming_pool }}</div>
</div> -->
<div class="picture">
    <img
        [src]="[place.picture]"
       
        alt="Hotel Pic here"
    />
</div>

<app-place-features class="features" [place]="place"> </app-place-features>
