:host {
    display: grid;
    align-items: center;
    grid-template-areas:
        'score_avg . . '
        'picture name location  '
        'picture email phone '
        'picture features features ';
    /* outline: purple dotted 5px; */
    margin-top: 15px;
    margin-bottom: 15px;
    column-gap: 20px;
    row-gap: 10px;
}
.features {
    grid-area: features;
    justify-self: start;
}
.location {
    grid-area: location;
}
.name {
    grid-area: name;
    color: green;
}
.score_avg {
    grid-area: score_avg;
    justify-self: center;
    color: red;
}
.phone {
    grid-area: phone;
}
.location {
    grid-area: location;
}
.email {
    grid-area: email;
}

.picture {
    grid-area: picture;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}
.picture img {
    max-height: 100px;
    max-width: 100px;
}
